@using System.Data
@model TallentexResult.Entities.StudentMain

<div class="card" id="divOfflineCourseFee" style="display:none;">
    <div class="card-content collapse show">
        <div class="card-header">
            <h6 id="divCourseFeeHeader" class="card-title text-center">Course Details</h6>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table id="tableCourseFee" width="100%" class="dataTable table table-striped table-sm text-center">
                </table>
            </div>
            <p class="divAboveSch" style="display:none;"><span class="text-danger">*</span>The Scholarship benefit is applicable till Scholarship validity date, after that the above calculation will be changed accordingly.</p>
        </div>
    </div>
</div>