<div class="row page-break">
    <div class="break"></div>
    <div class="col-md-12 col-lg-12 col-xl-12 d-flex pt-20">
        <img style="width:100%;border-radius:10px 10px 0 0;" src="~/images/performance_strip.png" />
    </div>
</div>